footer {
  background-color: #3d3e3f;
  color: #fff;
  padding-bottom: 40px;
  text-transform: uppercase;

  .footer-menu-wrapper {
    background-color: #545556;
    margin: 40px 0 30px;

    #footer-menu {
      margin-top: 10px;

      .menu-item {
        margin-right: 15px;
        margin-bottom: 20px;

        @media (min-width: $screen-md-min) {
          margin-bottom: 0;
        }
      }
    }

    a,
    a:focus,
    a:hover {
      color: #fff;
    }
  }

  .footer-copyright {
    margin-top: 20px;
  }
}