// Force sans-serif font on common elements
input,
label,
select,
textarea {
  @include no-font-smoothing();
  font-family: $font-family-sans-serif;
}

.gform_wrapper {
  .textarea {
    width: 100%;

    @media( min-width: $screen-sm-min ) {
      width: calc(50% - 8px)!important;
    }
  }
}

.ginput_container {
  > input,
  textarea {
    @extend .form-control;
  }

  > textarea {
    height: 100px;
  }
}

.gform_button {
  @extend .btn;
  @extend .btn-lg;

  background: #fc0;
  color: #fff;
}
