// Styles that are directly tied to the site header/navigation should go in
// this file.
#header-menu {
  @include center-block();
  margin-bottom: 5px;
  padding-top: 15px;

  li {
    padding: 15px 5px;
    @media (max-width: $screen-sm-max) {
      padding: 0;
    }
  }


  a {
    color: #fff;
    font-family: $font-family-serif-alt;
    font-size: 17px;
    font-weight: 400;
    padding: 7px;

    @media (max-width: $screen-sm-max) {
      font-size: 14.25px !important;
    }

    &:hover,
    &:active,
    &:focus {
      border-bottom: 2px solid $ucf-gold;
      text-decoration: none;
    }
  }

  a[href]:after {
    @media print {
      content: '';
    }
  }
}

.no-header-image {
  #header-menu {
    a {
      color: #000;

      &:hover {
        color: #000;
      }
    }
  }
}

.site-header {
  margin-bottom: 20px;
  padding-bottom: 70px;

  @media (max-width: $screen-xs-max) {
    padding-bottom: 20px;
  }

  a {
    color: #fff;

    &:hover {
      border-bottom: 2px solid $ucf-gold;
      color: #fff;
      text-decoration: none;
    }
  }

  &.no-header-image { 
    padding-bottom: 0;

    a {
      color: #000;

      &:hover {
        color: #000;
      }
    }
  }
}

.header-image {
  background-position: center center;
  width: 100%;
  min-height: 550px;

  @media (max-width: $screen-xs-max) {
    background-size: cover;
    min-height: 0;
  }
}

.header-center {
  display: table;
  height: 100%;
  width: 100%;

  @media (max-width: $screen-xs-max) {
    height: 400px;
    position: relative;
    top: 0;
  }

  .title-wrapper {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  .header-title {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    text-align: center;
  }

  .title-header-container {
    display: table;
    margin: 0 auto;
    position: relative;
    top: -80px;

    @media (max-width: $screen-xs-max) {
      top: -100px;
    }

    > h1,
    > span {
      @extend .h1;
      background-color: #FC0;
      background-color: rgba(255, 204, 0, .8);


      display: block;
      font-size: 80px;
      font-weight: 800;
      margin: 0;
      padding: 4px 30px;
      text-transform: uppercase;

      @media (max-width: $screen-md-max) {
        font-size: 68px;
      }
      @media (max-width: $screen-sm-max) {
        font-size: 55px;
      }
      @media (max-width: $screen-xs-max) {
        font-size: 40px;
      }
    }
  }

  a {
    &:link,
    &:visited,
    &:active,
    &:hover {
      color: #000;
      text-decoration: none;
    }
  }

  .weather {
    background: #000;
    display: inline-block;
    color: #fff;
    font-family: $font-family-serif;
    font-size: 18px;
    line-height: 32px;
    padding: 6px 20px;
    position: absolute;
    right: 0;
    letter-spacing: 1.35px;
    font-weight: 100;

    @media (max-width: $screen-xs-max) {
      font-size: 13px;
      padding: 0 14px;
    }

    .icon {
      display: inline-block;
      padding-right: 6px;

      @media (max-width: $screen-xs-max) {
        padding-right: 4px;
      }

      span {
        color: #ffc904;
        font-size: 27px;
        display: inline-block;
        position: relative;
        bottom: -3px;

        @media (max-width: $screen-xs-max) {
          font-size: 20px;
        }
      }
    }

    .vertical-rule {
      border-left: 1px solid #fff;
      margin-left: 4px;
      margin-right: 6px;
      width: 2px;
    }

    .temp {
      margin-left: 4px;
      font-weight: 800;
    }
  }
}
