// Styles that are directly tied to the site header/navigation should go in
// this file.

header {

  h1,
  .h1 {
    font-size: 32px;
  }

  h1,
  .h1,
  .menu-item a {
    padding: 7px;

  }

  h1,
  .h1 {
    a:hover,
    a:active,
    a:focus {
      border-bottom: 2px solid $ucf-gold;
      text-decoration: none;
    }
  }

  .h1 a {
    color: #000;
  }

  // CSS Shared by homepage and subpages
  .menu {

    .menu-item {
      font-size: 15px;
      text-transform: uppercase;

      @media(min-width: $screen-md-min) {
        margin-top: 40px;
      }
    }

    .menu-item {
      margin-bottom: 15px;

      @media(min-width: $screen-md-min) {
        margin-bottom: 0;
      }

      a {
        color: #000;
        text-decoration: none;

        &:hover,
        &:active
        &:focus {
          border-bottom: 2px solid $ucf-gold;
          padding-bottom: 5px;
        }
      }
    }
  }

  // Homepage media header overides
  .media-header-content {
    h1 a,
    .menu-item a {
      color: #fff;
    }

    .media-header-copy-wrapper {
      min-height: 480px;
      position: relative;

      .container-wrapper {
        background: linear-gradient(to bottom,transparent 0,#000 100%);
        bottom: 0;
        padding: 125px 0 30px;
        position: absolute;
        width: 100%;
      }

      .media-header-copy {
        color: #fff;
        font-size: 20px;
        font-weight: 200;
      }

      a.btn-ucf {
        color: #000;
        margin-top: 25px;
      }
    }
  }

  .header-center {
    display: table;
    height: 100%;
    width: 100%;

    @media (max-width: $screen-xs-max) {
      height: 400px;
      position: relative;
      top: 0;
    }

    .title-wrapper {
      display: table-cell;
      text-align: center;
      vertical-align: middle;
    }

    .header-title {
      display: inline-block;
      margin: 0 auto;
      position: relative;
      text-align: center;
    }

    .title-header-container {
      display: table;
      margin: 0 auto;
      position: relative;
      top: -80px;

      @media (max-width: $screen-xs-max) {
        top: -100px;
      }

      > h1,
      > span {
        @extend .h1;
        background-color: $ucf-gold;
        background-color: rgba(255, 204, 0, .8);


        display: block;
        font-size: 40px;
        font-weight: 800;
        margin: 0;
        padding: 4px 30px;
        text-transform: uppercase;


        @media (min-width: $screen-sm-min) {
          font-size: 55px;
        }

        @media (min-width: $screen-md-min) {
          font-size: 68px;
        }

        @media (min-width: $screen-lg-min) {
          font-size: 80px;
        }
      }
    }

    a {
      &:link,
      &:visited,
      &:active,
      &:hover {
        color: #000;
        text-decoration: none;
      }
    }

    .weather {
      background: #000;
      color: #fff;
      display: inline-block;
      font-family: $font-family-serif;
      font-size: 18px;
      font-weight: 100;
      letter-spacing: 1.35px;
      line-height: 32px;
      padding: 6px 20px;
      position: absolute;
      right: 0;

      @media (max-width: $screen-xs-max) {
        font-size: 13px;
        padding: 0 14px;
      }

      .icon {
        display: inline-block;
        padding-right: 6px;

        @media (max-width: $screen-xs-max) {
          padding-right: 4px;
        }

        span {
          bottom: -3px;
          color: #ffc904;
          display: inline-block;
          font-size: 27px;
          position: relative;

          @media (max-width: $screen-xs-max) {
            font-size: 20px;
          }
        }
      }

      .vertical-rule {
        border-left: 1px solid #fff;
        margin-left: 4px;
        margin-right: 6px;
        width: 2px;
      }

      .temp {
        font-weight: 800;
        margin-left: 4px;
      }
    }
  }

}
