// Styles that are directly tied to the site header/navigation should go in
// this file.

h1,
.h1 {
  a:focus {
    border-bottom: 2px solid $ucf-gold;
    text-decoration: none;
  }
}

#header-menu {
  @include center-block();
  margin-bottom: 5px;
  padding-top: 15px;

  li {
    margin-bottom: 20px;
    padding: 0;

    @media (min-width: $screen-md-min) {
      padding: 20px 5px 0;
    }
  }


  a {
    color: #fff;
    font-family: $font-family-sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding: 7px;
    text-transform: uppercase;

    @media (min-width: $screen-lg-min) {
      font-size: 17px;
    }

    &:hover,
    &:active,
    &:focus {
      border-bottom: 2px solid $ucf-gold;
      text-decoration: none;
    }
  }

  a[href]::after {
    @media print {
      content: '';
    }
  }
}

.no-header-image {
  #header-menu {

    li {
      margin-bottom: 20px;
      padding: 0;

      @media (min-width: $screen-md-min) {
        padding: 25px 5px 0;
      }
    }

    a {
      color: #000;

      &:hover,
      &:active,
      &:focus {
        color: #000;
      }
    }
  }
}

.site-header {
  background-size: cover;
  margin-bottom: 20px;
  padding-bottom: 20px;

  &.header-image {
    margin-bottom: 0;
  }

  @media (min-width: $screen-sm-min) {
    padding-bottom: 70px;
  }


  h1 {
    margin-bottom: 0;

    @media (min-width: $screen-md-min) {
      font-size: 36px;
      line-height: 30px;
    }

    @media (min-width: $screen-lg-min) {
      font-size: 45px;
      line-height: 33px;
    }

    a {
      color: #fff;

      &:hover {
        border-bottom: 2px solid $ucf-gold;
        color: #fff;
        text-decoration: none;
      }
    }
  }

  &.no-header-image {
    padding-bottom: 0;

    a {
      color: #000;

      &:hover {
        border-bottom: 2px solid $ucf-gold;
        color: #000;
        text-decoration: none;
      }
    }
  }
}

.header-image {
  background-position: center center;
  background-size: cover;
  min-height: 425px;
  position: relative;
  width: 100%;

  @media (min-width: $screen-sm-max) {
    min-height: 550px;
  }
}

.header-center {
  display: table;
  height: 100%;
  width: 100%;

  @media (max-width: $screen-xs-max) {
    height: 400px;
    position: relative;
    top: 0;
  }

  .title-wrapper {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
  }

  .header-title {
    display: inline-block;
    margin: 0 auto;
    position: relative;
    text-align: center;
  }

  .title-header-container {
    display: table;
    margin: 0 auto;
    position: relative;
    top: -80px;

    @media (max-width: $screen-xs-max) {
      top: -100px;
    }

    > h1,
    > span {
      @extend .h1;
      background-color: $ucf-gold;
      background-color: rgba(255, 204, 0, .8);


      display: block;
      font-size: 40px;
      font-weight: 800;
      margin: 0;
      padding: 4px 30px;
      text-transform: uppercase;


      @media (min-width: $screen-sm-min) {
        font-size: 55px;
      }

      @media (min-width: $screen-md-min) {
        font-size: 68px;
      }

      @media (min-width: $screen-lg-min) {
        font-size: 80px;
      }
    }
  }

  a {
    &:link,
    &:visited,
    &:active,
    &:hover {
      color: #000;
      text-decoration: none;
    }
  }

  .weather {
    background: #000;
    color: #fff;
    display: inline-block;
    font-family: $font-family-serif;
    font-size: 18px;
    font-weight: 100;
    letter-spacing: 1.35px;
    line-height: 32px;
    padding: 6px 20px;
    position: absolute;
    right: 0;

    @media (max-width: $screen-xs-max) {
      font-size: 13px;
      padding: 0 14px;
    }

    .icon {
      display: inline-block;
      padding-right: 6px;

      @media (max-width: $screen-xs-max) {
        padding-right: 4px;
      }

      span {
        bottom: -3px;
        color: #ffc904;
        display: inline-block;
        font-size: 27px;
        position: relative;

        @media (max-width: $screen-xs-max) {
          font-size: 20px;
        }
      }
    }

    .vertical-rule {
      border-left: 1px solid #fff;
      margin-left: 4px;
      margin-right: 6px;
      width: 2px;
    }

    .temp {
      font-weight: 800;
      margin-left: 4px;
    }
  }
}
