body.fixed-navbar {
  padding-top: 50px;
}

.page-wrap {
  margin-bottom: 32px;
}

.call-to-action {
  display: block;

  img {
    position: relative;
    width: 100%;
  }

  h2 {
    display: block;
    font-size: 22px;
    font-weight: 700;
    left: 55px;
    letter-spacing: 3px;
    line-height: 1.3;
    position: absolute;
    right: 55px;
    text-align: center;
    text-shadow: 1px 1px 8px #000;
    text-transform: uppercase;
    top: 20px;

    @media (min-width: $screen-lg-min) {
      font-size: 27px;
    }

    @media (max-width: $screen-sm-max) {
      font-size: 27px;
    }

    @media (max-width: $screen-xs-max) {
      font-size: 7vw;
      letter-spacing: 2px;
      line-height: 1.2;
    }
  }

  .btn-wrapper {
    bottom: 20px;
    left: 20px;
    margin: auto;
    position: absolute;
    right: 20px;
    text-align: center;
    width: 75%;
  }

  .btn {
    text-align: center;
    white-space: normal;
  }
}

body.admin-bar .navbar-fixed-top {
  margin-top: 32px;

  @media (max-width: $screen-xs-max) {
    margin-top: 0;
  }
}

#sections-navbar {
  box-shadow: 0 2px 32px rgba(0, 0, 0, 0.50);
  font-size: 11px;
  font-weight: 800;
  overflow: hidden;
  text-transform: uppercase;
  transition: box-shadow .75s;

  @media (max-width: $screen-sm-max) {
    overflow: visible;
  }


  &.center {
    box-shadow: none;
    margin-bottom: 0;
    margin: 0 auto;

    .weather {
      height: 0;
      padding: 0;
      margin: 0;
      transform: translate(300px);
      width: 0;
    }
  }

  .navbar-nav {
    > li {
      > a {
        padding-bottom: 17px;
        padding-top: 17px;

        &:focus {
          outline: none;
        }
      }
    }
  }

  .navbar-title {
    float: left;
    padding: 18px 0 0 18px;

    @media (min-width: $screen-md-min) {
      display: none;
    }
  }




  .weather {
    background: #000;
    color: #fff;
    font-family: $font-family-serif;
    font-size: 18px;
    font-weight: 100;
    line-height: 20px;
    margin-right: -15px;
    padding: 17px 60px 17px 82px;
    text-transform: none;
    transition: transform .75s;

    @media (max-width: 1250px) {
      padding: 17px 30px 17px 52px;
    }

    .location {
      @media (max-width: 1250px) {
        display: none;
      }
    }

    @media (max-width: 1090px) {
      display: none;
    }

    .icon {
      color: $ucf-gold;
      position: absolute;
      top: 16px;
      font-size: 22px;
      margin-left: -30px;
    }
  }
}
