.page-wrap {

  h2 {
    font-weight: 800;
    margin-bottom: 30px;
    margin-top: 0;
  }
  .content {
    padding-bottom: 40px;

    > h2 {
      margin-top: 25px;
    }

    > h3 {
      margin-top: 20px;
    }

    > h4 {
      margin-top: 15px;
    }

    p {
      font-size: 16px;
      line-height: 28px;

      &.lead {
        font-size: 24px;
        line-height: 32px;
        padding-bottom: 20px;
      }
    }
  }

  aside {
    margin-bottom: 40px;

    h2 {
      font-family: $font-family-sans-serif;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}