.page-content {

  h2 {
    font-weight: 400;
    margin-bottom: 30px;
    margin-top: 20px;
  }

  .lead-copy {
    font-family: $font-family-sans-serif;
    font-size: 20px;
    font-weight: normal;
    margin-bottom: 40px;
  }
}
