.bucket-section {
  margin-bottom: 60px;

  @media (max-width: $screen-xs-max) {
    margin-bottom: 30px;
  }

  .section-header {
    height: 750px;
    position: relative;
    text-shadow: 1px 1px 8px #000;
    width: 100%;

    @media (max-width: $screen-md-max) {
      height: 500px;
    }
    @media (max-width: $screen-sm-max) {
      height: 400px;
    }
    @media (max-width: $screen-xs-max) {
      height: 230px;
    }
  }

  .section-header-image-container {
    height: 750px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 80;

    @media (max-width: $screen-md-max) {
      height: 500px;
    }
    @media (max-width: $screen-sm-max) {
      height: 400px;
    }
    @media (max-width: $screen-xs-max) {
      height: 230px;
    }

    .section-header-image {
      position: absolute;
      top: 0;
      z-index: 80;
      opacity: 1;
      transition: opacity 1s ease;

      width: 100%;
    }

    &.has-video .section-header-image  {
      opacity: 0;
    }

  }

  .section-header-video-container {
    height: 750px;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;

    @media (max-width: $screen-md-max) {
      height: 500px;
    }
    @media (max-width: $screen-sm-max) {
      height: 400px;
    }
    @media (max-width: $screen-xs-max) {
      height: 230px;
    }

    .section-header-video {
      position: absolute;
      z-index: 0;
    }
  }

  .section-header-text-wrapper {
    display: table;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 100;

    .section-header-text {
      color: #fff;
      display: table-cell;
      font-family: $font-family-serif;
      font-size: 60px;
      font-weight: 700;
      letter-spacing: 2px;
      line-height: 1;
      padding: 0 27%;
      position: relative;
      text-align: center;
      vertical-align: middle;

      &.top {
        padding-top: 24px;
        vertical-align: top;
      }

      &.left {
        padding: 0 60% 0 36px;
        text-align: left;
      }

      &.right {
        padding: 0 36px 0 60%;
        text-align: right;
      }

      @media (max-width: $screen-md-max) {
        font-size: 52px;
      }
      @media (max-width: $screen-sm-max) {
        font-size: 45px;
      }
      @media (max-width: $screen-xs-max) {
        font-size: 40px;
        padding: 0 10%;
      }
    }
  }

  .section-content {
    $offset: (100 / 24) * 1%;
    border-left: 2px solid #E6E6E6;
    margin-left: $offset;
    padding-left: $offset;

    @media (max-width: $screen-sm-max) {
      border: none;
      margin: 0 auto;
      padding: 0 15px;
    }

    @media (max-width: $screen-xs-max) {
      margin-top: 24px;
    }
  }

  .section-image {
    @media (max-width: $screen-xs-max) {
      padding-bottom: 25px;
    }
  }

  h2 {
    display: inline-block;
    font-family: $font-family-sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;

    letter-spacing: 0;
    padding: 0 0 10px 0;

    &.section-title {
      margin-bottom: 18px;
      margin-top: 60px;

      @media (max-width: $screen-xs-max) {
        margin-top: 40px;
        margin-bottom: 10px;
      }
    }

    &::after {
      background: $ucf-gold;
      content: " ";
      display: block;
      height: 2px;
      margin-top: 15px;
      width: 25px;
    }
  }

  p {
    font-size: 16px;
    line-height: 28px;

    &.lead {
      font-size: 24px;
      line-height: 32px;
      padding-bottom: 20px;

      @media (max-width: $screen-sm-max) {
        font-size: 20px;
        line-height: 1.5;
        padding-bottom: 5px;
      }

    }
  }

  .menu-wrapper {
    h2 {
      padding-top: 14px;

      &::after {
        display: none;
      }
    }

    .menu {
      list-style: none;
      padding-left: 0;

      .menu-item {
        margin-bottom: 8px;

        a {
          font-size: 16px;
        }
      }
    }
  }
}

