// Force sans-serif font on tables
.table {
  @include no-font-smoothing();
  font-family: $font-family-sans-serif;
  font-size: $font-size-base;
}

@media only screen and (max-width: 767px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
    width: 100%;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid $cta-grey;
  }

  td {
    border: none;
    border-bottom: 1px solid $cta-grey;
    font-size: 12px;
    position: relative !important;
    padding-left: 30vw !important;
    text-align: left;
    white-space: normal;

    &:before {
      content: attr(data-title);
      position: absolute;
      top: 6px;
      left: 6px;
      width: 25vw;
      padding-right: 10px;
      white-space: nowrap;
      text-align: left;
      font-weight: bold;
    }
  }
}
