// Force sans-serif font on tables
.table {
  @include no-font-smoothing();
  font-family: $font-family-sans-serif;
  font-size: .8em;
}

@media only screen and (max-width: 767px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block;
    width: 100%;
  }

  thead tr {
    border: 0;
    clip: rect(0, 0, 0, 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  tr {
    border: 1px solid $cta-grey;
  }

  td {
    border: 0;
    border-bottom: 1px solid $cta-grey;
    font-size: 12px;
    padding-left: 30vw !important;
    position: relative !important;
    text-align: left;
    white-space: normal;

    &:before {
      content: attr(data-title);
      font-weight: bold;
      left: 6px;
      padding-right: 10px;
      position: absolute;
      text-align: left;
      top: 6px;
      white-space: nowrap;
      width: 25vw;
    }
  }
}
