p:empty {
  display: none;
}

// Force sans-serif on particular elements
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.lead {
  @include no-font-smoothing();
  font-family: $font-family-serif;
}

span {
  &.h1,
  &.h2,
  &.h3,
  &.h4,
  &.h5,
  &.h6 {
    display: block;
  }
}

.lead {
  font-family: $font-family-sans-serif;
  font-size: 20px;
  font-weight: 200;
  line-height: 1.5;
  margin-bottom: 40px;
  margin-top: 20px;
}

h1 {
  border-bottom: 2px solid $ucf-gold;
  font-family: $font-family-sans-serif;
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 18px;
  padding-bottom: 9px;
}

h2 {
  font-family: $font-family-sans-serif;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 30px;
  margin-top: 50px;
  text-transform: uppercase;
}

.ucf-gold {
  color: $ucf-gold;
}

.text-weight-light {
  font-weight: 300;
}

.text-weight-heavy {
  font-weight: 800;
}

hr {
  margin-bottom: 30px;
  margin-top: 30px;

  @media (max-width: $screen-xs-max) {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}
